* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #2c1808, #ee4dbe);
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 18px; /* bordas mais suaves */
  padding: 25px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
  border: 1px solid #e6e6e6; /* borda leve para destacar */
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(5, 5, 5, 0.18);
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h1 {
  color: #3560aa;
}

.logo span {
  color: rgba(165, 5, 112, 0.836);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  padding: 12px;
  border: 1px solid #d0d0d0;
  border-radius: 30px; /* mais arredondado */
  transition: border-color 0.3s, box-shadow 0.3s;
}
.form-group input:focus {
  border-color: #a56fe2;
  box-shadow: 0 0 8px rgba(184, 69, 212, 0.438);
  outline: none;
}
.btn {
  border-radius: 30px;
  background: linear-gradient(135deg, #ff6600, #eb0bff);
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
   background: linear-gradient(135deg, #cf20f1, #eb87ff);
  transform: scale(1.05);
}

.btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.link {
  text-align: center;
  margin-top: 15px;
}

.erro {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
.botoes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-voltar {
  flex: 1;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #1d4d9c;
  background: white;
  color: #1d4d9c;
  cursor: pointer;
}

.btn-secundario {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #1d4d9c;
  background: white;
  color: #1d4d9c;
  cursor: pointer;
}

.linha {
  text-align: center;
  margin: 20px 0;
  color: gray;
}
.home {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background: linear-gradient(135deg, #cf6721, #b91994); /* rosa degradê */
  color: #ffffff;
  padding: 20px;
  width: 220px;
  min-height: 100vh;

  border-radius: 0 20px 20px 0; /* borda arredondada no lado direito */
  border: 3px solid #ac6dc5;   /* rosa claro para destacar */
  box-shadow: 4px 0 12px rgba(243, 243, 243, 0.4); /* sombra lateral */
  transition: all 0.3s ease;
}

.sidebar h2 {
   color: rgba(165, 5, 112, 0.836);
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
}

.conteudo {
  flex: 1;
}

.header {
  height: 70px;
  background: linear-gradient(135deg, #b85411, #8f0e88); /* cinza degradê */
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;

  border-bottom: 3px solid #b57bc4; /* borda rosa clara */
  border-radius: 0 0 15px 15px;      /* cantos inferiores arredondados */
  box-shadow: 0 4px 10px rgba(242, 238, 243, 0.4); /* sombra suave */
  transition: all 0.3s ease;
}

.principal {
  padding: 20px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.card {
   background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.aula {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0; /* linha separadora */
}
.btn-aula {
  background: rgb(167, 67, 125);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-aula:hover {
  opacity: 0.9;
}